<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/style/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="container">
      <div class="inner" id="ios"></div>
      <div class="inner" id="editor"></div>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://localhost:8000/socket.io/socket.io.js"></script>
    <script>
      //GLOBAL
      socket = io.connect('http://localhost:8000');
    </script>
    <script src="/js/main.js"></script>
  </body>
</html>
